<div class="bg">
    
    <div class="pt1">
        <img
    width="70"
    height="70"
    src="assets/img1.png"
    alt="assets/img1.png"/>
    <h1 class="mainH1">Premium Calculator</h1>
    </div>
    <button type="button" class="btn btn-link" (click)="navigateToHome()">Go Back</button>

    <div class="container p-5">
        <h4 style="text-shadow: -1px -1px rgb(224, 164, 164), 1px 1px rgb(244, 185, 185), -3px 0 4px rgb(241, 192, 192);">Please Input Below Mandatory Information To Get Your Premium Calculated.</h4>
        <br/>
    <form [formGroup]="premiumCalcFormGroup">
        <div class="form-group">
            <div class="col-md-6">
                <!-- <span class="text-danger">*</span> -->
                <input placeholder="Enter Name" type="text" formControlName="name">
                <span class="text-danger" *ngIf="premiumCalcFormGroup.get('name').hasError('required') && premiumCalcFormGroup.get('name').touched">**Name is required</span>
            </div>
            <div class="col-md-6">
                <!-- <span class="text-danger">*</span> -->
                <input placeholder="Enter Date of Birth" max="{{maxDate | date:'yyyy-MM-dd'}}" type="text" onblur="(this.type='text')" onfocus="(this.type='date')" formControlName="dob" (change)="calculateAndSetAge()">
                <span class="text-danger" *ngIf="premiumCalcFormGroup.get('dob').hasError('required') && premiumCalcFormGroup.get('dob').touched">**Date of Birth is required</span>
            </div>
            <div class="col-md-6">
                <!-- <input placeholder="Calculated Age" [disabled]="true" [readOnly]="true" type="number" formControlName="age"> -->
                <span *ngIf="showAgeText; else showEnterDate" style="color:blue; font-weight: bold;" >Your Calculated Age is {{deducedAge}} Years.</span>
                <ng-template #showEnterDate>
                    <span style="color:blue">##Your Age will be calculated based upon Date of Birth entered above.</span>
                </ng-template>
            </div>
            <br/>
            <div class="col-md-10">
                <!-- <span class="text-danger">*</span> -->
                <select class="form-select form-select-sm mb-3" formControlName="occupation" (change)="changeOccupation()">
                    <option value="">Choose Occupation From This List</option>
                    <option *ngFor="let occupation of occupationData" [ngValue]="occupation">{{occupation.occupation}}</option>
                </select>
                <span class="text-danger" *ngIf="premiumCalcFormGroup.get('occupation').hasError('required') && premiumCalcFormGroup.get('occupation').touched">**Occupation is required</span>
            </div>
            <br/>
            <br/>
            <div class="col-md-6">
                <ngx-slider [(value)]="value" [options]="options" (userChange)="onUserChangeEnd($event)"></ngx-slider>
                <br/>
                <span class="text-muted">*Minimum value for Coverage Amount is defaulted as A$5000. Please use this slider to increase the Coverage Amount upto A$1 Million.</span>
            </div>
            <br/>
            <div class="col-md-6">
                <button class="btn btn-dark" type="button" [disabled]="!premiumCalcFormGroup.valid" (click)="btnCalculateYearlyPremium()">View Premium Details</button>
                <button class="btn btn-danger" type="button" [disabled]="premiumCalcFormGroup.pristine" (click)="btnResetInputs()">Reset Entries</button>
            </div>
            <br/>
            <div *ngIf="showPremiumStatement">
                <!-- <span style="color:rgb(10, 10, 11)">Hi {{enteredName |uppercase}}, your yearly premium based upon {{deathCoverageAmount|currency:"AUD":"symbol"}} is comingup as {{finalPremium|currency:"AUD":"symbol"}}.
                Please change the coverage amount to view changed values.</span> -->
                <span style="color:rgb(62, 2, 2);font-family: Georgia, serif;font-weight:bold;">Hi {{enteredName |uppercase}}, you are {{chosenOccupation | uppercase}} & your yearly premium based upon {{deathCoverageAmount|currency:"AUD":"symbol"}} is comingup as {{finalPremium|currency:"AUD":"symbol"}}.
                    <br/>Please change the coverage amount to view changed values or Reset the entries.</span>
            </div>
            <br/>
            <br/>
            <br/>
            
        </div>
    </form>
    </div>
</div>